
body {
    margin: 0;
    background-color: #edeef0;
    font-family: 'Roboto', sans-serif;

}
.main__heading {
    font-size: 22px;
    text-align: center;
}
.main__intro {
    font-size: 14px;
    text-align: center;
    padding: 0px 20px;
}
.main__images {
    display: flex;
    justify-content: center;
}
.main__images-left {
    margin-left: 20px;

}
.main__images-right {
    margin-left: -20px;
}
.main__links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.main__links-item {
    margin: 0px 28px;
}
.page__link {
    color: #2a5885;
    text-decoration: none;
}
.main__links-more {
    text-align: center;
    margin-top: 20px;
}
.navbar {
    height: 48px;
    margin-bottom: 10px;
    background-color: #fff;
}
.wrapper-header {
    width: 960px;
    margin: auto;
    display: flex;
    justify-content:space-between;
}
.wrapper {
    width: 960px;
    margin: auto;
}
.content {
    display: flex;
    justify-content: space-between;
}
.main {
    width: 620px;
    height: 700px;
    margin-right: 10px;
    background-color: cyan;
    
}
.sidebar {
    width: 320px;
    height: 700px;
    background-color: sandybrown;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar__block{
    min-height: 100px;
    background-color: #fff;
    padding: 30px;
}
.page__input {
    width: 100%;
    height: 35px;
    border-radius: 2px;
    border: 1px solid gainsboro; 
}
.page__button {
    width: 100px;
    margin-right: 15px;
    padding: 10px 16px;
    background-color: #5181b8;
    color: white;
    border: 0px;
    border-radius: 3px;
}

.form_row {
    margin: 0px 0px 20px 0px;
}

.footer {
    background-color: slateblue;
    height: 20px;
}
.navbar__logo {
    max-width: 200px;
}
.navbar__left {
    display: flex;
    align-items: center;
}
.navbar__search {
    display: inline-block;
    margin-left: 30px;
}
.navbar__search-input {
    background-color: #edeef0;
    border: 0;
    border-radius: 8px;
    outline: 0;
    width: 230px;
    height: 32px;
    padding-left: 30px;
}
.navbar__search-input:focus {
    box-shadow: 0px 10px rgba(0, 0, 0, .1);
}
.navbar__menu-link {
    display: block;
    line-height: 48px;
    height: 48px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding: 0px 10px;
}
.navbar__menu-link:hover {
    background-color: #f5f6f8;
}
